<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport"/>
    {% block meta %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <link rel="stylesheet" href="http://semantic-ui-forest.com/static/dist/semantic-ui/forest-themes/bootswatch/semantic.darkly.min.css"/>
    {% endblock %}
    {% block additional_css %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="ui borderless stackable menu">
        <div class="ui fluid container">
            <a class="item" href="" style="padding-left: 2rem">
                <i class="gitlab very large icon"></i>
            </a>
            <div class="header item"><h2>Bluetooth Wardrive</h2></div>
            <div class="right item">
                <h3>Taylor Harper &<br>Jay Cryderman</h3>
            </div>
        </div>
    </div>
    <div class="ui two column grid" style="padding-top: 3rem;">
        <div class="three wide column" style="padding-left: 3rem;">
            {% block sidebar %}
            {% endblock %}
        </div>
        <div class="ten wide column" style="padding-left: 2rem">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
</body>
<footer>
    {% block js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    {% endblock %}
    {% block additional_js %}
    {% endblock %}
</footer>
</html>